#!/usr/bin/env bash

function info() {
  MESSAGE=$1
  echo "[INFO] ${MESSAGE}"
}

function warn() {
  MESSAGE=$1
  echo "[WARN] ${MESSAGE}"
}

function error() {
  MESSAGE=$1
  echo "[ERROR] ${MESSAGE}"
}

AVAILABLE_STAGES=("dev" "prod")

if [ -z "${STAGE}" ]; then
  warn "STAGE is not set. Defaulting to STAGE=${AVAILABLE_STAGES[0]}"
  export STAGE=dev
else
  if [[ ! " ${AVAILABLE_STAGES[*]} " =~ " ${STAGE} " ]]; then
    error "STAGE ${STAGE} is invalid. Please choose one of [${AVAILABLE_STAGES[*]}]"
    exit 1
  fi
fi

info "Your STAGE is set to ${STAGE}"
