server:
  port: ${SERVER_PORT}

spring:
  application:
    name: skkia

  datasource:
    url: jdbc:postgresql://${DB_HOSTNAME}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    show-sql: true
    properties.hibernate.format_sql: true
    open-in-view: false
    hibernate:
      ddl-auto: none

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  security:
    oauth2:
      client:
        registration:
          naver:
            provider: naver
            client-name: Naver
            client-id: ${OAUTH2_PROVIDER_NAVER_CLIENT_ID}
            client-secret: ${OAUTH2_PROVIDER_NAVER_CLIENT_SECRET}
            scope:
              - oidc
              - name
              - email
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always

  mail:
    host: ${MAIL_HOST}
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true
            required: true

cors.allowed-origins: ${CORS_ALLOWED_ORIGINS}

oauth2.success.redirect-url: ${OAUTH2_SUCCESS_REDIRECT_URL}
