name: ci/server
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
    paths:
      - "apps/server/**"
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - env:
          OAUTH2_PROVIDER_NAVER_CLIENT_ID: ${{secrets.OAUTH2_PROVIDER_NAVER_CLIENT_ID}}
          OAUTH2_PROVIDER_NAVER_CLIENT_SECRET: ${{secrets.OAUTH2_PROVIDER_NAVER_CLIENT_SECRET}}
          MAIL_USERNAME: ${{secrets.MAIL_USERNAME}}
          MAIL_PASSWORD: ${{secrets.MAIL_PASSWORD}}
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "25"
      - run: ./scripts/ci/server.sh
