name: ci/web
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
    paths:
      - "apps/web/**"
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: "latest"
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
          cache: "pnpm"
          cache-dependency-path: ./apps/web/pnpm-lock.yaml
      - run: ./scripts/ci/web.sh
